<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="jgappsandgames.smartreminderslite">

    <!--Storage Permissions-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <!--Vibrate Permission-->
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true"
        android:theme="@style/blue_dark"
        android:fullBackupContent="@xml/backup_descriptor"
        tools:ignore="GoogleAppIndexingWarning">

        <!--Home-->
        <activity android:name=".home.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".home.FirstRun"/>
        <activity android:name=".home.AboutActivity"/>
        <activity android:name=".home.SettingsActivity"/>

        <!--Tasks-->
        <activity android:name=".tasks.checkpoint.CheckpointActivity"/>
        <activity android:name=".tasks.TaskActivity"/>
        <activity android:name=".tasks.TaskManagementActivity"/>
        <activity android:name=".tasks.tags.TagEditorActivity"/>

        <!--Sort-->
        <activity android:name=".tags.TagActivity"/>
        <activity android:name=".status.StatusActivity"/>
        <activity android:name=".priority.PriorityActivity"/>
        <activity android:name=".date.DayActivity"/>
        <activity android:name=".date.WeekActivity"/>
        <activity android:name=".date.MonthActivity"/>
    </application>
</manifest>